{% extends "admin/change_list.html" %}

{% load i18n %}

{% load tz %}

{% load salary_sheet_util %}

{% block content_title %}
    <div style="display: flex; align-items: flex-start; justify-content: space-between">
        <div style="flex: 3 1 auto">
            <h1>Income</h1>
        </div>
        <div style="flex: 1 1 auto">
            Total &emsp;&nbsp; : <b style="color: green">${{ result.total_paid_usd }}</b>
            / {{ result.total_paid }}TK <small>({{ result.approved_hour }})</small>
            <br>
            Pending : <b style="color: red">${{ result.total_pending_usd }}</b> / {{ result.total_pending }} TK
            <small>({{ result.pending_hour }})</small>
            <br>
            Loss Hours : <b style="color: red">{{ result.total_loss_hours }}</b>
        </div>
    </div>
{% endblock %}