<p>This is to certify that <b>{{ employee.full_name | title }}</b>, who was working as
    <b>{{ employee.designation }}</b> at <b>Mediusware Ltd.</b>
    since <b>{{ employee.joining_date }}</b>
    to <b>{{ employee.resignation_date }}</b>. He/She was a sincere employee of our company.
</p>
<p> This certificate is presented to claim completed No Objection upon <b>{{ employee.full_name | title }}</b>, if any
    organization hires him / her
    and he/she provides his services to any other firm as his employment period with our organization is over. This
    certificate is issued on the request of employee and therefore we hold no further responsibility. During his
    working span with us he/she proves to be sincere. We wish him/her good luck. 
</p> 
