<!doctype html>
<html lang="en">
<head>
    {% include 'letters/extra/header.html' with title='Permanent Latter' %}
</head>

{% load humanize %}
{% load humanize_extra %}

<body>
{% for employee in employees %}
    <p>
        Ref: Mediusware Ltd./{{ latter_type }}/{{ employee.permanent_date | date:'Ym' }}{{ employee.id }} <br>
        Date: {{ employee.permanent_date }} <br>
        <b>{{ employee.full_name | title }}</b> <br>
        Email: {{ employee.email }}<br>
    </p>

    <p><b>Subject: Permanent Letter of {{ employee.full_name | title }}</b></p>
    <p>Dear {{ employee.full_name | title }},</p>

    <p>Congratulations!</p>

    <p>Based on your performance in <b>Mediusware Ltd , 24/1, Taj Mahal Road, Shiya Masjid mor, Floor- 7th & 8th, Ring Road,
        Mohammadpur,
        Dhaka.</b> We
        are
        pleased to
        inform you that you have successfully completed the probationary period and your employment with Mediusware Ltd
        is
        confirmed as <b>{{ employee.designation }}</b> with the effect from <b>{{ employee.permanent_date }}</b>.
        You will be
        accordingly entitled
        to all the
        benefits embedded in the appointment letter dated on {{ employee.joining_date }} with Ref: Mediusware Ltd./EAL/{{ employee.joining_date | date:'Yd' }}{{ employee.id }}
    </p>

    {% include 'letters/extra/salary_table.html' with payable_salary=employee.permanent_salary.payable_salary %}

    <p><b>All other terms and condition stated in the appointment letter will remain unchanged.</b></p>
    {% include 'letters/extra/footer.html' %}
{% endfor %}
</body>

</html>