{% extends 'letters/extra/base.html' %}

{% load humanize %}
{% load humanize_extra %}
{% load employee_helper %}

{% block content %}
    {% for employee in employees %}
        <p>Ref: Mediusware Ltd./{{ latter_type }}/{{ employee.resignation_date | date:'Ym' }}{{ employee.id }} <br>
            Date: {% now "jS F Y" %} <br>
            <b>{{ employee.full_name | title }}</b> <br>
            Email: {{ employee.email }}<br>
        </p>
        <br>
        <br>
        <br>
        <center><h2>To Whom It May Concern</h2></center>


        <p>
            This is to certify that <b>{{ employee.full_name | title }}</b>, <b>{{ employee.designation }}</b> has
            received the following emolument from Mediusware
            Ltd. During the period from {{ context.financial_year.start_date }} to {{ context.financial_year.end_date }}
        </p>


        <table width="50%" border="1" cellpadding="5" align="center">
            <thead>
            <tr>
                <th>Particulars</th>
                <th>Taka</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="55%">Basic Salary</td>
                <td align="right">
                    {{ employee.employeesalary_set | sum_employee_salary:'gross_salary' | percentage:55 }}</td>
            </tr>
            <tr>
                <td>House Rent Allowance</td>
                <td align="right">
                    {{ employee.employeesalary_set | sum_employee_salary:'gross_salary'| percentage:20 }}</td>
            </tr>
            <tr>
                <td>Medical Allowance</td>
                <td align="right">
                    {{ employee.employeesalary_set | sum_employee_salary:'gross_salary' | percentage:10 }}</td>
            </tr>
            <tr>
                <td>Conveyance Allowance</td>
                <td align="right">
                    {{ employee.employeesalary_set | sum_employee_salary:'gross_salary'| percentage:15  }}</td>
            </tr>
            <tr>
                <td>Festival Bonus</td>
                <td align="right">
                    {{ employee.employeesalary_set | sum_employee_salary:'festival_bonus'| floatformat:2  }}</td>
            </tr>
            </tbody>

            <tfoot style="border-top: 1px solid black;">
            <tr>
                <th align='right'>Total</th>
                <td align="right"><b>
                    {{ employee.employeesalary_set | sum_employee_salary_with_festival_bonus | floatformat:2 }}
                    BDT</b>
                </td>
            </tr>
            </tfoot>

        </table>
        <br>

        <p>
            His tax payer identification number {{ employee.tax_info }}. The company has not
            deducted any advance income tax at source from his salary during this period.
        </p>

        <br>
        <br>
        <br>
        <table width="100%">

            <tr>
                <td width="70%">For Mediusware Ltd</td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="1"><img src="{{ seal }}" height="80px" alt=""></td>
                <td></td>
            </tr>

            <tr>
                <td>
                    <br>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Md. Shahinur Rahman</td>
                <td></td>
            </tr>
            <tr>
                <td>Managing Director</td>
                <td></td>
            </tr>
            <tr>
                <td>Mediusware Ltd.</td>
                <td></td>
            </tr>
        </table>
        <div class="page-break"></div>
    {% endfor %}
{% endblock %}