{% extends 'letters/extra/base.html' %}

{% load humanize %}
{% load humanize_extra %}
{% load employee_helper %}

{% block content %}
    {% for employee in employees %}
        {% for employeesalary in employee.employeesalary_set.all %}
        <div class="employee-details" style="page-break-after: always;">
            <p>Ref: Mediusware
                Ltd./{{ latter_type }}/{{ employee.joining_date | date:'Ym' }}{{ employee.designation.id }}{{ employee.id }}
                <br>
                Date: {% now "jS F Y" %} <br>
                <b>{{ employee.full_name | title }}</b>
                Email: {{ employee.email }}<br>
            </p>
            <center><h2>To Whom It May Concern</h2></center>
            <p>
                This is to certify that <b>{{ employee.full_name | title }}</b> has been working as a regular employee in
                our organization. His/Her employment details are as follows:
            </p>

            <table width="60%" cellpadding="2">
                <tbody>
                <tr>
                    <td>Job Status</td>
                    <td>: {% if employee.permanent_date %}Permanent {% else %}Provisional {% endif %}</td>
                </tr>
                <tr>
                    <td>Designation</td>
                    <td>: {{ employee.designation }}</td>
                </tr>
                <tr>
                    <td>Date of Joining</td>
                    <td>: {{ employee.joining_date }}</td>
                </tr>
                <tr>
                    <td>Employee ID</td>
                    <td>: {{ employee.joining_date | date:"Ym" }}{{ employee.designation.id }}{{ employee.id }}</td>
                </tr>
                <tr>
                    <td>Monthly gross Salary</td>
                    <td>: {{ employeesalary.net_salary |floatformat:2|intcomma }}</td>
                </tr>
                <tr>
                    <td>Model Of Salary Payment</td>
                    <td>: A/C payee</td>
                </tr>
                <tr>
                    <td>Salary Date</td>
                    <td>: {{ employeesalary.salary_sheet.date}}</td>
                </tr>
                </tbody>
            </table>

            <table width="100%" border="1" cellpadding="5">
                <tbody>
                <tr>
                    <td style="vertical-align: top">
                        <table>
                            <thead>
                            <tr>
                                <th align="left">Particulars</th>
                                <th align="right">Amount (BDT)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Basic (55%)</td>
                                <td align="right">{{ employeesalary.net_salary | percentage:55 }}</td>
                            </tr>
                            <tr>
                                <td>House Allowance (20%)</td>

                                <td align="right">{{ employeesalary.net_salary | percentage:20 }}</td>
                            </tr>
                            <tr>
                                <td>Conveyance (15%)</td>

                                <td align="right">{{ employeesalary.net_salary | percentage:15 }}</td>
                            </tr>
                            <tr>
                                <td>Medical Allowance (10%)</td>

                                <td align="right">
                                    {{ employeesalary.net_salary | percentage:10 }}</td>
                            </tr>
                            {% if employeesalary.project_bonus %}
                                <tr>
                                    <td>Project Bonus</td>
                                    <td align="right">
                                        {{ employeesalary.project_bonus|floatformat:2|intcomma }}</td>
                                </tr>
                            {% endif %}
                            {% if employeesalary.festival_bonus %}
                                <tr>
                                    <td>Festival Bonus</td>
                                    <td align="right">
                                        {{ employeesalary.festival_bonus|floatformat:2|intcomma }}</td>
                                </tr>
                            {% endif %}

                            {% if employeesalary.overtime %}
                                <tr>
                                    <td>Overtime Bonus</td>
                                    <td>{{ employeesalary.overtime|floatformat:2|intcomma }}</td>
                                </tr>
                            {% endif %}

                            {% if employeesalary.leave_bonus %}
                                <tr>
                                    <td>Leave Bonus</td>
                                    <td>{{ employeesalary.leave_bonus|floatformat:2|intcomma }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th align="left">Total Earning/Salary</th>
                                <th align="right">
                                    {{employeesalary.net_salary |addition:employeesalary.project_bonus | floatformat:2|intcomma }}
                                    BDT
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </td>
                    <td>
                        <table>
                            <thead>
                            <tr>
                                <th align="left">Particulars</th>
                                <th align="right">Amount (BDT)</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>PF (Org)</td>
                                <td align="right">0.00</td>
                            </tr>

                            <tr>
                                <td>PF (Own)</td>
                                <td align="right">0.00</td>
                            </tr>
                            <tr>
                                <td>PF Loan (P)</td>
                                <td align="right">0.00</td>
                            </tr>
                            <tr>
                                <td>PF Loan (I)</td>
                                <td align="right">0.00</td>
                            </tr>
                            <tr>
                                <td>Laptop Loan</td>
                                <td align="right">0.00</td>
                            </tr>
                            <tr>
                                <td>Salary Advance Loan (P)</td>
                                <td align="right">
                                    {% if employeesalary.loan_emi %}
                                        {{ employeesalary.loan_emi|floatformat:2 }}
                                    {% else %}
                                        0.00
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Salary Advance Loan (I)</td>
                                <td align="right">0.00</td>
                            </tr>
                            </tbody>

                            <tfoot>
                            <tr>
                                <th align="left">Total Deduction</th>
                                <th align="right">{{ employeesalary.loan_emi|floatformat:2  }}</th>
                            </tr>
                            </tfoot>


                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

            <table width="100%" border="1" cellpadding="5">


                <tfoot style="border-top: 1px solid black;">
                <tr>
                    <th align='left'>Net Salary:</th>

                    <th align="right">
                        {{ employeesalary.net_salary |addition:employeesalary.project_bonus|floatformat:2|intcomma }}
                        BDT
                    </th>
                </tr>
                </tfoot>
            </table>
            <br>
            {% if employeesalary.loan_emi %}
                <p>Deducted on salary :
                    {{ employeesalary.net_salary | addition:employeesalary.project_bonus }}
                    {{ employeesalary.loan_emi }} = <b>{{ employeesalary.gross_salary }}
                        Taka</b>
                </p>

                <p><b>In Word : </b>{{employeesalary.gross_salary | num_to_word }} Taka only</p>
            {% endif %}
            <table width="100%">
                <tr>
                    <td width="70%">For Mediusware Ltd</td>
                </tr>
                <tr>
                    <td rowspan="1">
                                            <img src="{{ seal }}" height="80px" alt="">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <br>
                    <td>Md. Shahinur Rahman</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Managing Director</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Mediusware Ltd.</td>
                    <td></td>
                </tr>
            </table>
  
        </div>
    {% endfor %}
    {% endfor %}
{% endblock %}