{% extends "admin/base_site.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">

    <form action="{% url 'admin:employee.announce.sms.post' %}" method="post">
        {% csrf_token %}
        <fieldset class="module aligned ">
            <div class="form-row field-date">
                <div>
                    {{ form.message.errors }}
                    <label for="{{ form.message.id_for_label }}">{{ form.message.label }}:</label>
                    <div style="display: flex">
                        {{ form.message }}
                        <div style="padding: 10px">
                            {full_name} -> Employee Full Name <br>
                            {email} -> Employee email <br>
                            {address} -> Employee Address <br>
                            {phone} -> Employee Phone
                        </div>
                    </div>

                    <div class="help">You have write <span id="message_character_count">0</span> character.
                        Remember that 160 character is
                        one sms
                    </div>
                </div>
            </div>
            <div class="form-row field-date">
                <div>
                    {{ form.employees.errors }}
                    <label for="{{ form.employees.id_for_label }}">{{ form.employees.label }}:</label>
                    {{ form.employees }}
                </div>
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Send SMS" class="default" name="_save">
        </div>
    </form>

    {{ form.media }}

    <script>
        let message = document.querySelector('#id_message')
        message.addEventListener('input', (event) => {
            document.querySelector('#message_character_count').textContent = message.value.length
        })
    </script>

{% endblock %}