{% extends "admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
            &rsaquo;
            {% for app in app_list %}
                {{ app.name }}
            {% endfor %}
        </div>
    {% endblock %}
{% endif %}

{% block extra_menu %}
    <div class="app-{{ app.app_label }} module{% if app.app_url in request.path %} current-app{% endif %}">
        <table width="100%">
            <caption>
                <a href="{{ app.app_url }}" class="section"
                   title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">Others</a>
            </caption>
            <tr>
                <th scope="row"><a href="{% url 'admin:account_balance' %}">Balance</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:account_projectcommission_changelist' %}">Project Commissions</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:commission' %}">Commissions</a></th>
            </tr>
            

            <!-- Hidden from Main Index -->
            <tr>
                <th scope="row"><a href="{% url 'admin:account_expensecategory_changelist' %}">Expense Categories</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:account_expensegroup_changelist' %}">Expense Groups</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:account_loan_changelist' %}">Loan</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:account_loanpayment_changelist' %}">Loan Payments</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:account_profitshare_changelist' %}">Profit Shares</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:account_festivalbonussheet_changelist' %}">Festival bonus sheets</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:account_invoice_changelist' %}">Invoices</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:account_projectcommission_changelist' %}">Project commissions</a></th>
            </tr>
            <tr>
                <th scope="row"><a href="{% url 'admin:account_salarydisbursement_changelist' %}">Salary disbursements</a></th>
            </tr>
            <!-- Hidden from Main Index -->

        </table>
    </div>
{% endblock %}
