<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load humanize_extra %}
<h3>Dear {{ employee.full_name | title }},</h3>
<p>
    Congratulations! We are glad to inform you that your salary has been incremented
    from {{ employee.current_salary.active_from }} as <br>
    '{{ employee.designation }}’ at Mediusware Ltd. Your increment letter is attached below.
</p>

<p>
    Please Sign the increment letter under "Agreed and Accepted" section as per your NID signature. <br>
    Put your full name
    (as per NID) and mail us back with the signed increment letter & the scanned copy of your NID.
</p>
</body>
</html>