{% extends 'mail/basic_layout.html' %}

{% block content %}
    <p>Hello <b>{{ candidate_assessment.candidate_job.candidate.full_name }}</b>, <br>
        You have applied at <b>Mediusware Ltd.</b> in the position of
        <b>{{ candidate_assessment.candidate_job.job.title }}</b> : <br>
        Applied at : {{ candidate_assessment.candidate_job.created_at }} <br>
        Expected Salary : {{ candidate_assessment.candidate_job.expected_salary }} BDT
        <br>
    </p>
    <p>
        To join in <b>Mediusware</b> you need to
        complete <strong>{{ candidate_assessment.candidate_job.job.assessments.count }}</strong> exam which are :
    <ul>
        {% for exam in candidate_assessment.candidate_job.job.assessments.all %}
            <li>{{ exam.title }}</li>
        {% endfor %}
    </ul>
    <p>To attend <b>{{ candidate_assessment.assessment.title }}</b> please click in the link given
        below
    </p>
    <b style="font-size: 24px"><a href="{{ url }}">Exam Details ({{ candidate_assessment.assessment.title }})</a></b> <br> <br>

    <b style="color: red; text-transform: uppercase;">N.B: You can start the exam at any time but we prefer as early as possible. And once you start you have to finish
        within the given allocated maximum hours.</b>
    <p>Wish you good luck</p>
    <p>Regards, <br>
        Mediusware Ltd, <br>
        +8801601712931 <br>
        hr@mediusware.com <br>
        Facebook: <a href="https://www.facebook.com/mediusware" target="_blank">https://www.facebook.com/mediusware</a> <br>
        LinkedIn: <a href="https://www.linkedin.com/company/mediusware-ltd/" target="_blank">https://www.linkedin.com/company/mediusware-ltd/</a>
    </p>
    <hr>
    <p>You can navigate all exams from our job portal. please visit this link "https://job.mediusware.com/user" to navigate your profile in our job portal </p>
    <address>
        Applicant Notes: <br>
        ================= <br>
        {{ candidate_assessment.candidate_job.additional_message | safe }}
    </address>

    {#    <p style="display: none">{{ candidate_assessment.candidate_job.additional_message | safe }}</p>#}
{% endblock %}