{% extends "admin/base_site.html" %}

{% block title %}
    Employee Feedback Update
{% endblock %}

{% block content %}

<link 
    rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"
/>
<style>
    /* Table Caption Fix for Django Admin Navbar (Bootstrap Override) */
    table {
        caption-side: unset !important;
    }
</style>

<div class="row">
    <div class="col-md-8 col-lg-6 col-xl-4">
        {% include 'admin/form/employee_feedback_form.html' %}
    </div>
</div>

{% endblock %}
