{% load humanize %}
{% load remove_curly_bracs %}
<div class="popover-wrapper">
    <div class="popover-title">
        {% if candidate_assessment.note %}
            {{ candidate_assessment.updated_at }} <br>
            {{ candidate_assessment.note| remove_curly_bracs |stringformat:".50s" | linebreaks  }}
        {% elif reviews|length > 0 %}
            {% with reviews|first as review %}
            <b>- {{ review.created_by.first_name }} {{ review.created_by.last_name }} <br>
                <sub>&nbsp;&nbsp;{{ review.created_at | naturaltime }}</sub> </b>  <br>
            {{ review.note| remove_curly_bracs |stringformat:".50s" | linebreaks }} <br>

            {% endwith %}
        {% else %}
            None
        {% endif %}

    </div>
    <div class="popover-message">
        {{ candidate_assessment.note | remove_curly_bracs | linebreaks  }}

        {% for review in reviews %}
            <b>- {{ review.created_by.first_name }} {{ review.created_by.last_name }} <br>
                <sub>&nbsp;&nbsp;{{ review.created_at | naturaltime }}</sub> </b>  <br>
            {{ review.note | remove_curly_bracs | linebreaks  }} <br>
        {% endfor %}
    </div>
</div>