{% extends "admin/change_list.html" %}
{% load i18n %}

{% load tz %}
{% load humanize %}
{% load admin_urls static admin_list %}

{% block content_title %}
    <style>
        /* Style for the pending message */
        .pending-message {
            color: red;
            margin-top: 10px;
        }
    </style>
    <div style="width: 80%">
        <h1> Project Hours 
            <span style="float: right">
                {% if status_form %}
                    <div>
                        {% include 'admin/form/employee_status_form.html' %}
                    </div>
                {% endif %}
                <p>
                    Total Hour {{ total | floatformat:2| intcomma }}
                </p>
            </span>
        </h1>
        {% if is_have_pending %}
            <div class="pending-message">
                You have pending leave request(s).Please approve frist.
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block search %}
    <hr>
    <div style="padding-top: 5px;">
        <form action="" method="get" style="padding: 2px 7px 0px;">
            <p style="padding-left: 0; color: #666666;">From &nbsp
                <span style="border-radius: 4px;">
                    {{ filter_form.created_at__date__gte }}
                </span>&nbsp&nbsp&nbsp&nbsp To &nbsp
                <span>
                    {{ filter_form.created_at__date__lte }}
                </span>
                <button type="submit"  style="margin-left: 5px; padding: 4px 8px; border: 1px solid #c6ccc6; border-radius: 5px; color: #333333;" >Filter</button>
            </p>
        </form>
    </div>
    {% search_form cl %}
{% endblock %}
