
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback | Mediusware</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link 
        rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <style>
        * {
            font-family: 'Barlow', sans-serif;
        }
        thead tr {
            background-color: #f9f9f9;
        }
        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }
        div.messages {
            background: tomato;
        }
        div.messages div.alert-danger {
            background: tomato;
        }
    </style>
</head>
<body>

    {% if temp_token %}

    <div class="container py-3 pb-5">

            {% if messages %}
            <div class="row">
                <div class="col-12">
                    {% for message in messages %}
                        <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        <!-- HEADING -->
        <div class="row">
            <h2 class="h1 fs-1 py-4">Weekly Feedback ({{ project.title }})</h2>
            <hr>
            <div class="col-lg-8">
                <div class="">
                    <p>
                        Hello, dear hope you are doing well. We are working together for a long time, 
                        If  I did any wrong please share it with me feel free and, 
                        please give me Feedback on my job. The Feedback will be an inspiration of mine to best work. 
                        I will try to satisfy you with my level best.
                    </p>
                    <p>
                        <strong>
                            Please don't hesitate to give your honest(Positive / Negative) opinion.
                        Your feedback is my fuel to grow together in long term.
                        </strong>
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="video pb-4 mx-auto text-center">
                    <iframe width="100%" style="max-width: 500px; height: 234px; border-radius: 8px;"
                        src="{{ youtube_url }}?controls=0&autoplay=1&mute=0&loop=1&rel=0&showinfo=0&playlist=zrt7SWJXriY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                    </iframe>
                </div>
                
                {% comment %} <div class="audio pb-3">
                    <audio controls>
                        <source src="{% static 'audio/client_feedback_intro.mp3' %}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div> {% endcomment %}
            </div>
        </div>

        <!-- FORM -->
        {% if not current_feedback_exists or update_feedback %}
        <div class="row">
            <div class="col-12">
                {% include 'admin/form/client_feedback_form.html' %}   
            </div>
        </div>
        {% endif %}

        <!-- TABLE -->
        <div class="row">
            <div class="col-12">
                <h5 class="h5 pb-3">Feedback History ({{ project.title }})</h5>
                <div class="table-responsive">
                    <table class="table w-100 table-bordered rounded">
                        <thead>
                            <tr>
                                <th class="border" scope="col">Weekdate</th>
                                <th class="border" scope="col">Feedback</th>
                                <th class="border" scope="col">Communication</th>
                                <th class="border" scope="col">Output</th>
                                <th class="border" scope="col">Time Management</th>
                                <th class="border" scope="col">Billing</th>
                                <th class="border" scope="col">Long-Term Working Interest</th>
                                <th class="border" scope="col">Average</th>
                                <th class="border" scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fback_obj in feedback_objs %}
                                <tr>
                                    <td>{{ fback_obj.feedback_week|date:"M d, Y" }}</td>
                                    <td>
                                        {% if fback_obj.feedback|length >= 150 %}
                                            <div class="popover-wrapper">
                                                <div class="popover-title">
                                                    {{ fback_obj.feedback|stringformat:".100s" }}
                                                </div>
                                                <div class="popover-message">
                                                    {{ fback_obj.feedback }}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div>{{ fback_obj.feedback }}</div>
                                        {% endif %}
                                    </td>
                                    <td>{{ fback_obj.rating_communication }}</td>
                                    <td>{{ fback_obj.rating_output }}</td>
                                    <td>{{ fback_obj.rating_time_management }}</td>
                                    <td>{{ fback_obj.rating_billing }}</td>
                                    <td>{{ fback_obj.rating_long_term_interest }}</td>
                                    <td>{{ fback_obj.avg_rating }}</td>
        
                                    {% if forloop.counter == 1 and current_feedback_exists %}
                                        <td>
                                            <a class="btn btn-secondary btn-sm text-light" href="{% url 'admin:client_feedback_form' token=temp_token %}">Edit</a>
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>

    {% endif %}

</body>
</html>
