{% extends "admin/base_site.html" %}

{% block title %}
    Client Feedback Admin
{% endblock %}

{% block content %}

{% load humanize %}
{% load static %}

<link 
    rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"
/>
<style>
    /* Table Caption Fix for Django Admin Navbar (Bootstrap Override) */
    table {
        caption-side: unset !important;
    }
</style>

<link rel="stylesheet" href="{% static 'css/list.css' %}">

<style>
    .table__row:nth-child(odd) {
        background: #f8f8f8;
    }
    .table__row:nth-child(even) {
        background: white;
    }
</style>

<div class="container">
    <h2 class="h2 text-center py-3">Client Feedback</h2>
    {% if url_permission %}
    <div class="text-end">
        <a 
            href="{% url 'admin:client_feedback_urls' %}" 
            class="text-decoration-none btn btn-primary text-white mb-3 mx-auto"
        >
            View URL(s)
        </a>
    </div>
    {% endif %}
    <div class="table-responsive">
        <table class="table w-100 table-bordered">
            <thead>
                <tr class="table__row">
                    <th scope="col" class="align-middle text-dark">Project</th>
                    
                    {% for week in week_titles %}
                        <th class="border text-dark">
                            {% if forloop.counter == 1 %}
                                <a class="text-decoration-none text-dark"
                                    href="?o={% if o == '1' %}-1{% else %}1{% endif %}"
                                >
                                    {{ week }}
                                </a>
                            {% else %}
                                {{ week }}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for project, weekly_feedback in weekly_feedbacks %}
                <tr class="table__row">
                    <td class="align-middle">{{ project.title }}</td>

                    {% for cl_fb in weekly_feedback %}
                        {% if cl_fb %}
                            <td>
                                <div class="popover-wrapper">
                                    <div class="popover-title">
                                        <div style="color: {% if cl_fb.has_red_rating %}red{% else %}green{% endif %};">
                                            <strong>Avgerage Rating: {{ cl_fb.avg_rating }}</strong>
                                        </div>
                                        <br><br>
                                        <div class="h6">
                                            {{ cl_fb.feedback|stringformat:".150s" }}
                                        </div>
                                    </div>
                                    <div class="popover-message">
                                        {% if cl_fb.avg_rating <= 3 %}
                                            <div style="color: red;"><strong>Avgerage Rating: {{ cl_fb.avg_rating }}</strong></div><br>
                                        {% else %}
                                            <div style="color: green;"><strong>Avgerage Rating: {{ cl_fb.avg_rating }} </strong></div><br>
                                        {% endif %}
                                        <div style="{% if cl_fb.rating_communication <= 3 %}color: red;{% endif %}">
                                            Communication: {{ cl_fb.rating_communication}} 
                                        </div>
                                        <div style="{% if cl_fb.rating_output <= 3 %}color: red;{% endif %}">
                                            Output: {{ cl_fb.rating_output}} 
                                        </div>
                                        <div style="{% if cl_fb.rating_time_management <= 3 %}color: red;{% endif %}">
                                            Time Management: {{ cl_fb.rating_time_management}} 
                                        </div>
                                        <div style="{% if cl_fb.rating_billing <= 3 %}color: red;{% endif %}">
                                            Billing: {{ cl_fb.rating_billing }} 
                                        </div>
                                        <div style="{% if cl_fb.rating_long_term_interest <= 3 %}color: red;{% endif %}">
                                            Interested in Long Term: {{ cl_fb.rating_long_term_interest }} 
                                        </div>
                                        <br><br>
                                        <div class="lh-lg">
                                            {{ cl_fb.feedback | linebreaks }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        {% else %}
                            <td class="align-middle"> - </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
