{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback | Mediusware</title>
</head>
<body>
    
</body>
</html>

<link 
    rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"
/>
<style>
    /* Table Caption Fix for Django Admin Navbar (Bootstrap Override) */
    table {
        caption-side: unset !important;
    }
</style>

<div class="row py-5">
    <div class="col-md-8 col-lg-6 col-xl-4 mx-auto">
        <div class="container">
            <div class="fs-1 h2 text-center pb-4">Weekly Feedback</div>
            {% comment %} <div class="video pb-4 mx-auto text-center">
                <iframe width="100%" height="315" 
                    src="{{ youtube_url }}" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div> {% endcomment %}

            <div class="audio pb-3">
                <audio controls>
                    <source src="{% static 'audio/client_feedback_intro.mp3' %}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            
            <div class="">
                <p>
                    Hello, dear hope you are doing well. We are working together for a long time, 
                    If  I did any wrong please share it with me feel free and, 
                    please give me Feedback on my job. The Feedback will be an inspiration of mine to best work. 
                    I will try to satisfy you with my level best.
                </p>
                <p>
                    <strong>
                        Please don't hesitate to give your honest(Positive / Negative) opinion.
                    Your feedback is my fuel to grow together in long term.
                    </strong>
                </p>
            </div>
        </div>
        <div class="container py-3">
            {% include 'admin/form/client_feedback_form.html' %}
        </div>
    </div>
</div>
