{% extends "admin/base_site.html" %}


{% block content %}
    {% load humanize %}
    <h3>{{ data.start_date }} to {{ data.end_date }}</h3>
    <div class="results">
        <table width="100%">
            <thead>
            <tr>
                <th>#</th>
                <th>Month</th>
                <th>Salary</th>
                <th>Office Expense</th>
                <th>Loan Expense</th>
                <th>Total Expense</th>
                <th>Total Revenue</th>
                <th title="Profit / Loss">P/L</th>
                <th>Rifat</th>
            </tr>
            </thead>
            <tbody>
            {% for month in data.month_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ month.date }}</td>
                    <td>{{ month.salary | floatformat:2 | intcomma }}</td>
                    <td>{{ month.expense | floatformat:2 | intcomma }}</td>
                    <td>{{ month.loan_expense | floatformat:2 | intcomma }}</td>
                    <td>{{ month.salary|add:month.expense|add:month.loan_expense | floatformat:2 | intcomma  }}</td>
                    <td>{{ month.income | floatformat:2 | intcomma   }}</td>
                    <td>{{ month.pl | floatformat:2 | intcomma   }} <br>
                        <sub>
                            <span style="color: red">{{ month.pending_income | floatformat:2 | intcomma }}</span>
                        </sub>
                    </td>
                    <td>
                        {{ month.rifat | floatformat:2 | intcomma }} <br>
                        <sub>
                            <span style="color: green;">{{ month.payment | floatformat:2 | intcomma }}</span> /
                            <span style="color: red">{{ month.due| floatformat:2 | intcomma }}</span>
                        </sub>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}