{% if announcement %}

<style>
    #_announcement {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #264b5d;
        padding: 0.8rem 2rem;

        overflow: hidden;
    }
    #_announcement__inner {
        color: white;
        white-space: nowrap;
        font-size: 1.2rem;
        font-weight: 600;
    }
    span#_announcement__inner {
        display: flex;
        align-items: center;
    }
    span#_announcement__inner p {
        margin-bottom: 0;
    }
</style>

<section id="_announcement">
    <span id="_announcement__inner">
        {{ announcement }}
    </span>
</section>

<script>
    const announcement = document.getElementById("_announcement");
    const announcement__inner = document.getElementById("_announcement__inner");

    function animate(element) {
        let elementWidth = element.scrollWidth;
        let parentWidth = element.parentElement.offsetWidth;
        let flag = parentWidth;

        setInterval(() => {
            element.style.marginLeft = --flag + "px";

            if (elementWidth == -flag) {
                flag = parentWidth;
            }
        }, 15);
    }
    animate(announcement__inner);


    setTimeout(() => {
        announcement.style.display="None";
    }, 1000 * 60 * 5);

</script>

{% endif %}

