{% load startswith %}

<style>
    /* Base setup */
    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

    /* Ratings widget */
    .rate {
        display: inline-block;
        border: 0;
    }
    /* Hide radio */
    .rate > input {
        display: none;
    }
    /* Order correctly by floating highest to the right */
    .rate > label {
        float: right;
    }
    /* The star of the show */
    .rate > label:before {
        display: inline-block;
        font-size: 20px;
        padding: .3rem .2rem;
        margin: 0;
        cursor: pointer;
        font-family: FontAwesome;
        content: "\f005 "; /* full star */
    }

    /* Half star trick */
    .rate .half:before {
        content: "\f089 "; /* half star no outline */
        position: absolute;
        padding-right: 0;
    }
    /* Click + hover color */
    input:checked ~ label, /* color current and previous stars on checked */
    label:hover, label:hover ~ label { color: #73B100;  } /* color previous stars on hover */

    /* Hover highlights */
    input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
    input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
    label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #A6E72D;  }


</style>

<form action="{% url 'admin:client_feedback_form' token=temp_token %}" method="post" id="feedbackForm" class="m-1">
    {% csrf_token %}
    
    <div class="row">
        <div class="col-12">
            <div class="">
                <label for="inputFeedback" class="form-label mb-0 fs-4">Feedback / Suggestion</label>
            </div>
        </div>
        <div class="col-md-6 col-lg-8">
            <div class="mb-3 mt-3">
                <textarea 
                    style="height: 172px;"
                    class="form-control" 
                    name="feedback" 
                    id="inputFeedback" 
                    cols="30" rows="7"
                    placeholder="Please write your valuable feedback like &#10; &#10; Good things &#10; Bad things &#10; Suggestions"
                    required
                >{{ feedback_form.feedback.value|default_if_none:'' }}</textarea>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            {% for field in feedback_form.visible_fields %}
                {% if field.name|startswith:'rating' %}
                    <div class="align-items-center d-flex justify-content-between">
                        <label for="{{ field.name }}_fieldset" class="form-label mb-0">{{ field.label }}</label>
                        <div class="d-flex gap-3">
                            <fieldset class="rate" id="{{ field.name }}_fieldset">
                                <input class="{{ field.name }}_mask" type="radio" id="{{ field.name }}10" name="{{ field.name }}_mask" value="10" />
                                <label for="{{ field.name }}10" title="5 stars"></label>
                                <input class="{{ field.name }}_mask" type="radio" id="{{ field.name }}9" name="{{ field.name }}_mask" value="9" />
                                <label class="half" for="{{ field.name }}9" title="4.5 stars"></label>
                                <input class="{{ field.name }}_mask" type="radio" id="{{ field.name }}8" name="{{ field.name }}_mask" value="8" />
                                <label for="{{ field.name }}8" title="4 stars"></label>
                                <input class="{{ field.name }}_mask" type="radio" id="{{ field.name }}7" name="{{ field.name }}_mask" value="7" />
                                <label class="half" for="{{ field.name }}7" title="3.5 stars"></label>
                                <input class="{{ field.name }}_mask" type="radio" id="{{ field.name }}6" name="{{ field.name }}_mask" value="6" />
                                <label for="{{ field.name }}6" title="3 stars"></label>
                                <input class="{{ field.name }}_mask" type="radio" id="{{ field.name }}5" name="{{ field.name }}_mask" value="5" />
                                <label class="half" for="{{ field.name }}5" title="2.5 stars"></label>
                                <input class="{{ field.name }}_mask" type="radio" id="{{ field.name }}4" name="{{ field.name }}_mask" value="4" />
                                <label for="{{ field.name }}4" title="2 stars"></label>
                                <input class="{{ field.name }}_mask" type="radio" id="{{ field.name }}3" name="{{ field.name }}_mask" value="3" />
                                <label class="half" for="{{ field.name }}3" title="1.5 stars"></label>
                                <input class="{{ field.name }}_mask" type="radio" id="{{ field.name }}2" name="{{ field.name }}_mask" value="2" />
                                <label for="{{ field.name }}2" title="1 star"></label>
                                <input class="{{ field.name }}_mask" type="radio" id="{{ field.name }}1" name="{{ field.name }}_mask" value="1" />
                                <label class="half" for="{{ field.name }}1" title="0.5 star"></label>
                            </fieldset>
                        </div>
                        <input
                            type="number" step="0.5"
                            id="{{ field.name }}",
                            name="{{ field.name }}"
                            min="0.5" max="5.0"
                            value="{{ field.value }}"
                            hidden
                        />
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-end mb-3 mt-4">
                <input 
                    id="feedbackSubmit" 
                    type="submit" 
                    class="form-control w-auto text-white" 
                    style="background:#0060AF;padding:10px 60px;" 
                    value="{% if update_feedback %}Update{% else %}Submit{% endif %}" 
                >
            </div>
        </div>
    </div>

    
</form>

<script>
    var rateInput;
    // {% for field in feedback_form.visible_fields %}
    //     {% if field.name|startswith:'rating' %}
            document.querySelectorAll(".{{ field.name }}_mask").forEach(el => {
                el.addEventListener('click', function (e){
                    const val = parseInt(e.target.value);
                    document.getElementById("{{ field.name }}").value = val/2;
                });
            });
            document.getElementById(
                `{{ field.name }}${document.getElementById("{{ field.name }}").value*2}`
            )?.click();
    //     {% endif %}
    // {% endfor %}
</script>
