<br>
<br>
<br>
<table width="100%">
    <tr>
        <td width="38%">Yours faithfully,</td>
        <td rowspan="6"  style="vertical-align:top; text-align:center;">
            <img
                src="{{ qr_root }}/qr_{{ employee.slug }}_{{ employee.employeenoc.uuid }}.png" 
                width="100%"
            >
            <p style="font-size:12px;padding-top:0;margin-top:0;">Verify Online</p>
        </td>
        <td width="14%" rowspan="6"></td>
        <td width="30%">Agreed & Accepted:___________</td>
    </tr>
    <tr>
        <td rowspan="1"><img src="{{ seal }}" height="80px" alt=""></td>
        <td>Name: <br> Date: </td>
    </tr>

    <tr>
        <td>
            <br>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Md. Shahinur Rahman</td>
        <td></td>
    </tr>
    <tr>
        <td>Managing Director</td>
        <td></td>
    </tr>
    <tr>
        <td>Mediusware Ltd.</td>
        <td></td>
    </tr>
</table>
