{% load humanize %}
{% load humanize_extra %}

You will receive a total compensation of
<b>BDT {{ payable_salary | add:3000 | intcomma}} ({{ payable_salary |  add:3000 | num_to_word }} taka)</b> in
the following breakdown: <br> <br>
<table width="100%" border="1" cellpadding="5">
    <tr>
        <td width="30%">Basic (55%)</td>
        <td>{{ payable_salary | percentage:55 }}</td>
    </tr>
    <tr>
        <td>House Allowance (20%)</td>
        <td>{{ payable_salary | percentage:20 }}</td>
    </tr>
    <tr>
        <td>Conveyance (15%)</td>
        <td>{{ payable_salary | percentage:15 }}</td>
    </tr>
    <tr>
        <td>Medical Allowance (10%)</td>
        <td>{{ payable_salary | percentage:10 }}</td>
    </tr>
    <tfoot style="border-top: 1px solid black;">
        <tr>
            <th align='left'>Gross Salary:</th>
            <td>{{ payable_salary | intcomma }}</td>
        </tr>
        <tr>
            <th align='left'>Lunch Allowance:</th>
            <td>3,000.00</td>
        </tr>
        <tr>
            <th align='left'>Total compensation:</th>
            <td>{{ payable_salary | add:3000 | percentage:100}} BDT</td>
        </tr>
    </tfoot>
</table>
<br>
<ul style="list-style-type:disc">
    <!-- <li>Out of consolidated salary, Travel Allowance (T.A/D. A) will be given if needed for official purposes.</li>
    <li>Mobile allowance (at actual or slot provided by the organization) will be approved by the management following the official communication needs.</li> -->
    <!-- <li><b style="font-weight: 900; color: red;">Disclosing the salary with any of the current employee in the office is a punishable offence. Company have the authority to take any action against you if you commit the offence. </b></li> -->
</ul>
