<li>Office time:
    <ul style="list-style-type: lower-alpha">
        <li>Your normal working day is <b>Monday to Friday; 5 days per week</b> and <b>weekend is Saturday and
            Sunday.</b></li>
        <li>Your working time is <b>8:00 hours/day with 1 (One) hour Lunchtime + Other Break (Office Starts at
            12:00 pm).</b> If
            required,
            you will
            have to stay and work for a longer period.
        </li>
    </ul>
</li>
<li>You will be on probation for 3 (Three) months, a period, which may be extended at the discretion of the
    Company.
</li>
<li>Upon completion of the period of probation to the satisfaction of the Company, your service may be placed in
    the
    regular payroll of the Company or on contract for a specific term as decided by the Company. During this
    probation period, either party can nullify this contract by giving a notice of 7 days.
</li>
<br>
<li><b style="font-weight: 900; color: red;">Disclosing the salary with any of the current employee in the office is
    a punishable offence. Company have the authority to take any action against you if you commit the offence. </b>
</li>
<li><b style="font-weight: 900; color:red;">Communication with office clients, outside official media (i.e Slack) is
    prohibited. If any of the employee do such thing the company may take any action against them (i.e Salary
    Deduction, Immediate Terminal, Termination without Salary Certificate or anything the management decide)</b></li>
<li>
    <b>Every year you will receive 2 (two) festival bonus. The festival bonus
        will follow below structure:

        <br>
        <strong>6 months or above = 100% Basic</strong>
        <br>
        <strong>5 months = 75% Basic</strong>
        <br>
        <strong>4 months = 50% Basic</strong>
        <br>
        <strong>3 months = 25% Basic</strong>    
        <br>
    </b>
</li>
<li>
    A day of overtime will be evaluated as two working days, and the employee will be get the overtime bonus at the end
    of the month with the monthly salary.
</li>
<li>Your future increments or promotion or any other salary increase shall be based on merit considering your
    periodic and consistent overall performance, business conditions, and other parameters fixed from time to
    time
    at the judgment of the management and shall not be considered merely as a matter of right.
</li>
<li>Leave policy: After probation period, an employee will be entitled to the following leave structure:
    <ul style="list-style-type: lower-alpha">
        <li>You will get a total of <b>21 (Twenty-One) days of leaves annually</b>; among which <b>13 (Twelve)
            days
            of casual leave (CL)</b> and <b>08 (Eight Days) of Medical Leave (ML)</b> every year.
        </li>
        <li>For all kind of leaves, the employee should submit a leave application through the employee panel of
            MEDIUSWARE ERP
        </li>
        <li>To get the causal leave, the employee must submit the leave application at least one working day before the
            leave day, otherwise it will be count as Absent/Non Paid Leave.
        </li>
        <li>You are not entitled to any leave during the probation period.</li>
        <li>If anyone runs out of all leaves and asks for extra leave, then without proper documentation his
            salary
            will be deducted two days for 1-day leave. (with proper documents it will be considered.)
        </li>
        <li>For sick leave, you must have to submit Medical certificates or Prescriptions from an MBBS doctor
            with
            proper description. Otherwise, it will be considered as casual leave.
        </li>
        <li>
            <b>Leave encash : End of the year, the remaining casual leaves will be encashed as each working day.</b>
        </li>
    </ul>
</li>
<li>If you are Muslim by religion then you must have to attend <b>Prayer</b> during office time.</li>
<li>All documents, codes, business plans, Product Plans, Project Document, Sales documents, Buyer/ Seller Legal
    documentation, Vendor/ Supplier list, Techno-Commercial Proposals, Trade Secrets, Technical Information,
    Reports, Statements, correspondence, etc., Written or unwritten and also information and instructions that
    pass
    through you or come to your knowledge shall be treated as confidential. You shall not utilize them for your
    use
    or disclose to other persons during or after your employment.
</li>

<li>During the tenure of your service, you will wholly devote yourself to the work assigned to you and will not
    undertake any other employment/engagement, directly or indirectly, with or without monetary considerations,
    and/or benefits without prior permission of the Company in writing. Any breaking of this condition will
    require
    termination of your services from the Company.
</li>
<li>In the event, you are absent from duty without information or permission of leave or you overstay your
    sanctioned leave, the Management will treat you as having voluntarily abandoned the services of the Company.
</li>
<li>If you are absent from the workplace for a continuous period of 5 working days without informing the
    management
    and without showing a valid reason for your absence, you will be deemed to have abandoned your employment.
</li>
<li>If you want to leave the job you must inform the company 01 (one) months before in writing. You have to hand
    over your responsibilities to the company assigned employees within the notice period. Similarly, if the
    company
    shuts down its operation/ business for any reason or your performance in the company is not up to the mark,
    it
    will give you 01 month notice of leaving.
</li>
<li>If the organization dismisses someone for misconduct or any offensive work, he or she will be penalized and
    won’t get any amount or any other benefit from the organization.
</li>
<li>Your services are liable to be terminated at any time due to the following reason:
    <ul style="list-style-type: lower-alpha">
        <li>During probation or after confirmation, in case you are found to be medically unfit by the Company’s
            Authorized Medical practitioner, on examination
        </li>
        <li>When the Company comes to know of any conviction by the Court of Law during the tenure of your
            service
            with us or conviction and/or any bad record in the past under the previous employer, or because of
            your
            giving false information at the time of your appointment or concealed any material information or
            given
            any false details in the application form.
        </li>
    </ul>
</li>
<li>At the time of resignation, you will have to hand over the projects’ files that were assigned to you to the
    other nominated person of the company and until he or she receives all the necessary and updated files of
    your
    assigned projects from you, you will not be released from the company.
</li>
<li>You will keep the company informed of any change in your residential address that may happen during the
    employment of your service with the company. Also, to check your academic qualification, the company
    preserves
    all the right to see your necessary documents.
</li>
<li>During the period of service with the company, you shall not take part in any activity of the formation of
    the
    council or association or become a member being part of management staff which is found to be harmful in the
    interest of the company in any way. Such an action shall be considered a violation of service conditions of
    the
    company and amount to causing damage to its interest and shall call for disciplinary action being taken
    against
    you.
</li>
<li>You will be liable for prosecution for damages for divulgence, sharing, or parting any of such information
    during employment and on cessation for at least 2 years period. Otherwise, the company has all the right to
    take
    legal action against you.
</li>
<li>On leaving the employment of the Company, any amount due from the Employee shall be recovered by the Company
    from Employee’s final payment and in the event, there be any amount due from the Employee after such
    deduction/
    adjustment the Employee shall make good the same by payment to the Company. The company will not be liable
    for
    your loan taken from the bank, other financial institution, or even any other company or individual.
</li>
<li>While you are in the employment of the company, you may be given or handed over the company’s property
    and/or
    equipment for official use and you will take care of them including their upkeep. On cessation of employment
    with the Company, you will return all documents, books, papers relating to the affairs of the Company,
    purchased
    with the company’s money, which may have come to you, and also any property of the company in your
    possession.
    If you do not abide by this rule or misuse the company’s property intentionally, you will be charged for
    this
    after verifying the issue.
</li>
<li>All disputes arising out of this letter will be subject to the jurisdiction of the Supreme Court. And that
    the
    courts, tribunals and/or authorities at SC only shall have jurisdiction to entertain, try and decide such
    disputes or differences arising out of or about this contract of employment, irrespective of your working HQ
    being elsewhere at that time.
</li>
<li>The employee will abide by the general rules and regulations of the company, which may be changed by the
    company
    from time to time.
</li>
<li>The terms and conditions herein contained may be amended according to changes in the company’s policy or the
    company’s general rules on employment at any time at the discretion of the company.
</li>

<li>This Agreement is being executed in two identical originals, one to be retained by the employee and the
    other by
    the company.
</li>
<li>This employee accepts employment under the terms and conditions mentioned above.</li>
