{% extends 'mail/basic_layout.html' %}

{% block content %}

    <p>
        Dear <b>{{ candidate.full_name }}</b>
    </p>

    <p>
        You've missed our 48 hours of <b>Coding Test</b>.
    </p>

    <p>
        If you have a <b>valid reason</b> for not submitting the test in time, 
        email us and we'll consider extending your <b>Coding Test</b> time depending on your <b>reason</b>.
    </p>

    <p>Regards, <br>
        Mediusware Ltd, <br>
        +8801601712931 <br>
        hr@mediusware.com <br>
        Facebook: <a href="https://www.facebook.com/mediusware" target="_blank">https://www.facebook.com/mediusware</a> <br>
        LinkedIn: <a href="https://www.linkedin.com/company/mediusware-ltd/" target="_blank">https://www.linkedin.com/company/mediusware-ltd/</a>
    </p>
    <hr>
    <p>You can navigate all exams from our job portal. please visit this link "
        <a href="https://job.mediusware.com/user">https://job.mediusware.com/user</a>" to
        navigate your profile in our job portal 
    </p>

    {% comment %} <address>
        Applicant Notes: <br>
        ================= <br>
        {{ candidate_assessment.candidate_job.additional_message | safe }}
    </address> {% endcomment %}
{% endblock %}