{% extends 'mail/basic_layout.html' %}

{% block content %}

    <p>
        Dear <b>{{ candidate.full_name }}</b>
    </p>

    <p>
        <b>We (Mediusware Ltd.)</b> is delighted to offer you the full-time position of
        <b>{{ candidate.candidatejob_set.last.job }}</b>
        with an anticipated start within 30 days from the offer date.
    </p>

    <p>
        Please check the attachment bellow, Reply us back with your
        <ul>
            <li><strong>Personal NID</strong></li>
            <li><strong>Guardian NID</strong></li>
            <li><strong>Release letter</strong> / <strong>Resignation Acceptance</strong> (if have any)</li>
            <li><strong>NOC of Previous Company</strong> (if have any)</li>
            <li><strong>Joining Date</strong></li>
            <li><strong>Personal Contact Number</strong></li>
            <li>
                <strong>Emergency Contact Info</strong> (Must be within blood / spouse)
                <ul>
                    <li><strong>Name</strong></li>
                    <li><strong>Relation</strong></li>
                    <li><strong>Contact Number</strong></li>
                </ul>
            </li>
        </ul>
        to confirm us that you accept our offer.
        We will issue your appointment letter after getting those documents verified by our HR department.
    </p>

    <p>
        Sincerely, <br>
        Md Shahinur Rahman <br>
        Managing Director <br>
        Mediusware Ltd.
    </p>
{% endblock %}