{% extends 'mail/basic_layout.html' %}

{% block content %}

    <p>
        Dear <b>{{ candidate.full_name }}</b>
    </p>

    <p>
        We appreciate your interest in applying for a position at Mediusware Ltd. We have noticed that your application is incomplete and does not contain all the required information.
    </p>
    <p>
        To ensure that your application is considered for the position you applied for, we kindly request that you re-apply through the job portal. This will enable you to provide us with all the necessary details required for us to assess your suitability for the role.
    </p>

    <p>
        We apologize for any inconvenience this may have caused, and we look forward to receiving your complete application through the job portal.
    </p>
    <p>
        If you have any questions, please feel free to contact us at hr@mediusware.com or visit https://job.mediusware.com/
    </p>
    <p>
        Best regards, <br><br>
        HR <br>
        Mediusware Ltd. <br>
        Facebook: <a href="https://www.facebook.com/mediusware" target="_blank">https://www.facebook.com/mediusware</a> <br>
        LinkedIn: <a href="https://www.linkedin.com/company/mediusware-ltd/" target="_blank">https://www.linkedin.com/company/mediusware-ltd/</a>
    </p>
{% endblock %}