{% extends 'mail/basic_layout.html' %}

{% block content %}

    <p>
        Hello <b>{{ c_full_name }},</b>
    </p>
    <p>
        You have applied at <b>Mediusware Ltd.</b> in the position of <b>{{ candidate_assessment.candidate_job.job.title }}:</b>
    </p>
    <p>
        Applied at: {{ candidate_assessment.created_at }}
    </p>
    <p>
        Expected Salary : {{ candidate_assessment.candidate_job.expected_salary }} BDT
    </p>

    <p>
        Your score are {{ candidate_assessment.score }}. Unfortunately you didn't pass the assessment. We wish best of luck and keep eyes on our job portal. You can apply again in 3 months. <br>
    </p>

    
    <h3>Reviews from Management: </h3>
    <p>==============</p>

    <p>
        {% for review in reviews %}
        {{review}} <br>  <hr>
        {% endfor %}
    </p>
    <p>==============</p>

    <p>Regards, <br>
        Mediusware Ltd, <br>
        +8801601712931 <br>
        hr@mediusware.com<br>
        Facebook: <a href="https://www.facebook.com/mediusware" target="_blank">https://www.facebook.com/mediusware</a> <br>
        LinkedIn: <a href="https://www.linkedin.com/company/mediusware-ltd/" target="_blank">https://www.linkedin.com/company/mediusware-ltd/</a>
    </p>


{% endblock %}