{% extends 'compliance/base/layout.html' %}

{% load salary_sheet_util %}

{% block content %}
    <style>
        .list-table {
            border-collapse: collapse;
            border: 1px solid black;
            table-layout: auto;
            width: 100%;
        {#text-align: justify;#}
        }

        .list-table td {
            padding: 3px;
        }
    </style>

    {% for invoice in invoices %}
        <table>
            <thead>
            <tr>
                <td colspan="3" align="center">
                    <h1>Government of the People's Republic of Bangladesh</h1>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <h2>National Board of Revenue, Dhaka</h2>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td align="right" border="1">
                    <b style="padding: 5px; border: 2px solid black;">Mushok-6.3</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="center">
                    <span style="font-size: 32px;">INVOICE</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td align="center" colspan="3">[See Clauses (c) and (f) of Sub-Rule-1 of Rule-40]</td>
            </tr>
            </thead>
        </table>
        <br>
        <table>
            <thead>
            <tr>
                <td></td>
                <td align="right"><b>Name of Tax Payer: </b></td>
                <td align="left">&nbsp; Mediusware Ltd.</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td align="right"><b>BIN of Tax Payer: </b></td>
                <td align="left">&nbsp; 004140326-0402</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td align="right" style="vertical-align: top;"><b>Address of Tax Payer: </b></td>
                <td align="left" colspan="2">&nbsp;24/1, Taj Mahal Road, Shiya Masjid mor, Floor- 7th & 8th, Ring Road,
            Mohammadpur,
            Dhaka.</td>
            </tr>
            </thead>
        </table>
        <table>
            <thead>

            <tr>
                <td><br></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Buyer Name : {{ invoice.client }}</td>
                <td></td>
                <td>Invoice Number : {{ invoice.serial_no }}</td>
            </tr>
            <tr>
                <td>Buyer BIN : N/A</td>
                <td></td>
                <td>Issue Date : {{ invoice.date_time|date:'j M Y' }}</td>
            </tr>
            <tr>
                <td>Buyer Address : {{ invoice.client.address }}</td>
                <td></td>
                <td>Issue Time : {{ invoice.date_time| date:'h:i a' }}</td>
            </tr>
            <tr>
                <td>Delivery Destination : {{ invoice.client.country }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">The Name and number of the Vehicle : N/A</td>
                <td></td>
            </tr>
            </thead>
        </table>

        <table class="list-table">
            <tr>
                <td width="25px" align="center">SL</td>
                <td width="200px" align="center">Description of the Product or Service (Including Brand Name if
                    applicable)
                </td>
                {#                <td>Unit of Measure</td>#}
                <td align="center">Qty</td>
                <td align="center">Unit Price<sup>1</sup> (Taka)</td>
                <td align="center">Total Price<sup>1</sup> (Taka)</td>
                {#                <td>Rate of Supplem entary Duty</td>#}
                {#                <td>Value of Supplem entary</td>#}
                <td align="center">Rate of VAT/ Specified Tax</td>
                <td align="center">Amount of VAT/ Specified Tax</td>
                <td width="100px" align="center">Total Price Including All Types of Duty and VAT</td>
            </tr>
            {% for invoice_details in invoice.invoicedetail_set.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ invoice_details.description }}</td>
                    {#                    <td>{{ invoice_details.unit_of_measure }}</td>#}
                    <td align="center">{{ invoice_details.quantity }}</td>
                    <td align="right">{{ invoice_details.unit_price }}</td>
                    <td align="right">{{ invoice_details.total }}</td>
                    {#                    <td>{{ invoice_details.rate_of_supplementary_duty }}</td>#}
                    {#                    <td>{{ invoice_details.value_of_supplementary_duty }}</td>#}
                    <td align="right">{{ invoice_details.rate_of_vat }}</td>
                    <td align="right">{{ invoice_details.amount_of_vat }}</td>
                    <td align="right">{{ invoice_details.total_price_inc_all_duty }}</td>
                </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <td colspan="2" align="right">Total</td>
                <td align="center">{{ invoice | sum_invoice_details:'quantity' }}</td>
                <td align="right">{{ invoice | sum_invoice_details:'unit_price' }}</td>
                <td align="right">{{ invoice | sum_invoice_details:'total' }}</td>
                <td align="right">0</td>
                <td align="right">0</td>
                <td align="right">{{ invoice | sum_invoice_details:'total_price_inc_all_duty' }}</td>
            </tr>
            </tfoot>
        </table>
        <br>
        <div>
            <p>
                The Name of Authorised Person of the Company : <b>Md. Shahinur Rahman</b> <br>
                Designation : <b>Managing Director</b><br> <img src="{{ seal }}" height="100px" alt=""> <br>
                Seal & Signature <br>
            </p>
            <br>
            <p>1. Total Price Excluding All Types of Duty and VAT :
                {{ invoice | sum_invoice_details:'total_price_inc_all_duty' }} BDT
            </p>
        </div>
        <div class="page-break"></div>
    {% endfor %}
{% endblock %}