DEBUG=true

ALLOWED_HOSTS=127.0.0.1

APP_SITE_HEADER=
APP_SITE_TITLE=
APP_INDEX_TITLE=

DB_ENGINE=mysql
DB_NAME=hr_mediusware
DB_USERNAME=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

TIME_ZONE=Asia/Dhaka

STATIC_URL="static"
MEDIA_URL="media"

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

SMS_API_KEY=
SMS_SENDER_ID=

CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=

GOOGLE_DRIVE_STORAGE_JSON_KEY_FILE = '<path to your json private key file>'
GOOGLE_DRIVE_STORAGE_MEDIA_ROOT = '<base google drive path for file uploads>' # OPTIONAL

WHITELISTED_IP=103.180.244.213, 127.0.0.1, 134.209.155.127, 45.248.149.252
MANAGEMENT_EMPLOYEE_IDS=7, 30, 76, 49

DOWNLOAD_PDF=false

CLIENT_FEEDBACK_VIDEO_EMBED_URL=https://www.youtube.com/embed/zrt7SWJXriY


COMPANY_ACCOUNT_NAME=Mediusware Ltd
COMPANY_ACCOUNT_NO=

NOC_VERIFY_URL=https://mediusware.com/verify/NOC

MACHINE_SECRETS=