{% extends "admin/base_site.html" %}
{% block content %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.semanticui.min.css">

    <table id="dTbale" width="100%">
        <thead>
        <tr>
            <th>Employee</th>
            <th>Project</th>
            <th>End At</th>
            {#            <th>Duration</th>#}
            <th>Skills</th>
            {#            <th>Hours</th>#}
            <th>Assigned At</th>
            <th>Manager</th>
            <th>Sort End Date</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            {% if employee.employeeskill_set.all %}
                <tr
                        {% if not employee.projectresourceemployee_set.get.duration_hour %}
                            style="color: red" {% endif %}
                        {% if employee.projectresourceemployee_set.get.endways %} style="background: yellow" {% endif %}
                >
                    <th>{{ employee }}</th>
                    <td>{{ employee.projectresourceemployee_set.get.project_resource.project }}
                        {% if employee.projectresourceemployee_set.get.hour %}
                        [{{ employee.projectresourceemployee_set.get.hour }}]
                        {% endif %}
                    </td>
                    <td>{{ employee.projectresourceemployee_set.get.end_date | date }}</td>
                    {% comment %}                    <td>
                        {% if  employee.projectresourceemployee_set.get.duration %}
                            {{ employee.projectresourceemployee_set.get.duration }}
                            {{ employee.projectresourceemployee_set.get.duration_unit }}
                        {% else %}
                            0
                        {% endif %}
                    </td>{% endcomment %}
                    <th>
                        {% for skill in employee.top_skills %}
                            {% if skill.percentage >= 50 %}
                                {{ skill.skill }} ({{ skill.percentage | add:"0" }}%),
                            {% endif %}
                        {% endfor %}
                    </th>
                    {% comment %} <td>
                        {% if employee.projectresourceemployee_set.get.duration_hour %}
                            {{ employee.projectresourceemployee_set.get.duration_hour }}
                        {% else %}
                            0
                        {% endif %}
                    </td>{% endcomment %}
                    <td>{{ employee.projectresourceemployee_set.get.updated_at }}</td>


                    <td>{{ employee.projectresourceemployee_set.get.project_resource.manager }}</td>
                    <td>{{ employee.projectresourceemployee_set.get.end_date | date:"m/d/Y" }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.semanticui.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dTbale').DataTable({
                "paging": false,
                "order": [[6, "asc"]],
            });
        });
    </script>
{% endblock %}
