{% extends "admin/base_site.html" %}

{% block title %}
    Employee Feedback Update
{% endblock %}

{% block content %}

<link
    rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"
/>
<style>
    /* Table Caption Fix for Django Admin Navbar (Bootstrap Override) */
    table {
        caption-side: unset !important;
    }
</style>


<div class="row">
    <div class="col">
        <div class="container">
            <h2 class="h2 text-center py-3">Your Feedback(s)</h2>
            <table class="table w-100 table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Month</th>
                        <th scope="col">Feedback</th>
                        <th scope="col">Environmental Rating</th>
                        <th scope="col">Facilities Rating</th>
                        <th scope="col">Learning & Growing Rating</th>
                        <th scope="col">Average Rating</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emp_feedback in employee_feedback_objs %}
                        <tr>
                            <td>{{ emp_feedback.created_at|date:"F Y" }}</td>
                            <td>
                                {% if emp_feedback.feedback|length >= 150 %}
                                    <div data-mdb-toggle="popover" title="{{ emp_feedback.feedback }}" data-mdb-content="And here's some amazing content. It's very engaging. Right?" data-mdb-trigger="hover">{{ emp_feedback.feedback | slice:50 }}</div>
                                {% else %}
                                    <div>{{ emp_feedback.feedback }}</div>
                                {% endif %}
                            </td>
                            <td>{{ emp_feedback.environmental_rating }}</td>
                            <td>{{ emp_feedback.facilities_rating }}</td>
                            <td>{{ emp_feedback.learning_growing_rating }}</td>
                            <td>{{ emp_feedback.avg_rating }}</td>

                            {% if forloop.counter == 1 and current_feedback_exists %}
                                <td>
                                    <a class="btn btn-secondary btn-sm text-light" href="{% url 'admin:employee_feedback_form' %}">Edit</a>
                                </td>
                            {% else %}
                            <td></td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if not current_feedback_exists %}
    <div class="col-md-8 col-lg-6 col-xl-4">
        {% include 'admin/form/employee_feedback_form.html' %}
    </div>
    {% endif %}
</div>


<script>
    window.onload = function(e){
        all_feedback = document.querySelectorAll('.feedback')
        i = 0;
        for(i=0; i < all_feedback.length; i++){
            text = all_feedback[i].innerText
            if (text.length > 300){
                all_feedback[i].innerHTML = `
                <div class="popover-wrapper">
                    <div class="popover-title">
                        text.substring(0, 20)
                    </div>
                    <div class="popover-message">
                        text
                    </div>
                </div>`
            }
        }
    }
</script>

{% endblock %}
